button{
    margin: 0;
    padding: 0;
}

.start-btn {
    width: 100px;
    height: 35px;
    border: 1px solid #4d4d4d;
    margin: 0px;
    padding: 0;
    cursor: pointer;
}

.start-btn:hover {
background-color: rgb(2, 102, 2);
}

.restart-btn {
    width: 100px;
    height: 35px;
    border: 1px solid #4d4d4d;
    margin: 0 20px;
    padding: 0;
    cursor: pointer;
}

.level {
    width: 115px;
    height: 35px;
    border-radius: 10px;
    border: 1px solid #4d4d4d;
    margin: 0;
    display: inline-block;
    position: relative;
}


.faded-green {
    color: #fff;
    background-color: green;
    border: 1px solid green;
    opacity: 0.5;
}

.gold {
    color: #fff;
    background-color: goldenrod;
    border: 1px solid goldenrod;
}

.text {
    font-size: 14px;
    color: #4d4d4d;
    display: inline-block;
    margin: 0 10px;
}

.power {
    padding: 0;
    margin: 10px 0;
    text-align: center;
}

.label {
    margin: 5px;
}

#count {
    display:inline;
    margin: 5px;
}

/* how to play bottons */
.how-rules {
    background-color: rgb(175, 245, 220);
    border: 1px solid #860aec;
    margin: 0 2px 5px;
}

.how_piano, .how_game {
    height: 40px;
    width: 250px;
    border-radius: 10px;
    background-color: aquamarine;
    color: #000;
    align-items: center;
    /* display: inline-block; */
    border: 1px solid rgb(105, 104, 104);
    margin: 15px auto;
    display: block;  
}

.how_piano:hover, .how_game:hover {
    background-color: rgb(95, 250, 198); 
}

.how_game {
    margin: 10px auto;
}

.how-active {
    background-color: rgba(161, 202, 248, 0.986);
    border: 1px solid #860aec;  
}

.play-btn {
    height: 40px;
    width: 250px;
    border-radius: 10px;
    align-items: center;
    margin: 15px auto 30px;
    display: block;
}

.submit-btn {
    width: 220px;
    margin-top: 20px;
}

@media screen and (max-width:576px) {
    .play-btn, .how_piano, .how_game {
        width: 180px;
    }
}
