@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700|Audiowide:100,200,300,400,500,600,700 &display=swap');

body {
    background-color: aquamarine;
    height: 100%;
    margin: 0;
    padding: 0;
}
.navbar-nav {
    padding: 0;
}


.col, .col-3, .col-4, .col-6, .col-12 {
    margin: 0;
    padding: 0;
}

.content {
    min-height: 100vh;
}

   /* header */
.header {
    height: 80px;
    background-color: rgb(8, 151, 130);
}

.sidepanel {
    height: 250px; 
    width: 0; 
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:  rgb(8, 151, 130);
    overflow-x: hidden; 
    padding-top: 60px;
    transition: 0.5s;
}
  
.sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    color: rgb(217, 236, 233);
    display: block;
    transition: 0.3s;
}
  
.sidepanel a:hover {
    color:  #fff;
}
  
.sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 30px;
    margin-left: 50px;
}
  
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color:  rgb(8, 151, 130);
    color: white;
    padding: 10px 15px;
    border: 2px solid #fff;
    border-radius: 15px;
    margin: 15px 10px;
}
  
.openbtn:hover {
    background-color:  rgb(10, 190, 163);
}

.icon {
    margin-right: 10px;
}

.heading, .contact-header { 
    color: rgb(8, 151, 130);
    margin: 10px 0;    
    height: 50px;
    font-weight: 500;
}

/*----------form---------------*/

.form {
    margin: 20px;
}

.form-row {
    padding: 0;
    margin: 30px 0;
}

.form-control {
    text-align: center;
    margin: 8px 0;
}

.display {
    margin-top: 15px;
    margin-bottom: 15px;
    color: rgb(8, 151, 130);
}

.jumbotron {
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
    border-radius: 0;
    background-color: rgb(82, 219, 171);
}

.jumbotron-contact-form {
    font-size: 16px;
    margin: 0 auto;
    width: 80%;
}

/*---- keyboard ------- */
.keyWhite{
    width: 7vw;
    height: 30vw;
    border: 1px solid #000;
    border-radius: 0 0 10px 10px;
    margin: 5vh 0 5vh;
    padding: 0;
    padding-top: 20vw;
    float: left;
    cursor: pointer;
    z-index: 0;
}

.key-c {
    background-color:rgba(248, 161, 161, 0.986);
    margin-left: 16vw; 
}

.key-d {
    background-color: rgba(248, 179, 161, 0.986);
}

.key-e {
    background-color: rgba(248, 228, 161, 0.986);
}

.key-f {
    background-color: rgba(248, 247, 161, 0.986);
}

.key-g {
    background-color: rgba(228, 248, 161, 0.986);
}

.key-a {
    background-color: rgba(200, 248, 161, 0.986);
}

.key-h {
    background-color: rgba(161, 248, 173, 0.986);
}

.key-c1 {
    background-color: rgba(161, 248, 241, 0.986);
}

.key-d1 {
    background-color: rgba(161, 202, 248, 0.986);
}

.keyBlack {
    width: 4vw;
    height: 20vw;
    z-index: 1;
    margin-top: 5vh;
    margin-left: -58vw;
    background-color: #000;
    border: 1px solid #000;
    border-radius: 0 0 10px 10px;
    float: left;
    cursor: pointer;
    z-index: 10;
}

.key-black1 {
    margin-left: 3vw;
}

.key-black2 {
    margin-left: 10vw; 
}

.key-black3 {
    margin-left: 3vw; 
}

.key-black4 {
    margin-left: 3vw; 
}

.key-black5 {
    margin-left: 10vw; 
}

/* keys active */
.key-c-active{
    background-color:rgba(250, 89, 89, 0.986); 
}

.key-d-active{
    background-color: rgba(253, 113, 78, 0.986);
}

.key-e-active{
    background-color: rgba(251, 211, 76, 0.986);
}
.key-f-active{
    background-color: rgba(248, 245, 77, 0.986);
}

.key-g-active{
    background-color: rgba(207, 246, 80, 0.986);
}
.key-a-active{
    background-color: rgba(155, 252, 77, 0.986);
}

.key-h-active{
    background-color: rgba(79, 253, 102, 0.986);
}

.key-c1-active{
    background-color: rgba(10, 201, 175, 0.986);
}
.key-d1-active{
    background-color: rgba(72, 157, 253, 0.986);
}
    
.key-black-active,
.key-black1-active,
.key-black2-active,
.key-black3-active,
.key-black4-active,
.key-black5-active{
    background-color: rgb(156, 154, 154);
}

.power-img {
    width: 100px;
    height: 50px;
    margin: 0 15px;
}

.level-img,
.start-img {
    margin: 0 15px;
}

/* footer */
.links,
.social-links {
    background-color: rgb(8, 151, 130);
    text-align: center;
    margin: 0;
    padding: 0;
}

.validator {
    background-color: rgb(8, 151, 130);
    text-align: right;
    margin: 0;
    padding: 0; 
}

.css-val {
    margin: 0;
}

.links a,
.social-links a {
    text-decoration: none;
    color: #fff;
    width: 100%;
    display: inline-block;
    padding: 5px 5px;
    font-size: 17px;
    font-weight: 400;
    /* text-transform: uppercase; */
}

.social-links a:hover,
.links a:hover {
    color: rgb(201, 201, 201);
}

.social-links a {
    color: #fff;
}
