body {
    background-color: aquamarine;
}

header {
    background-color: rgb(8, 151, 130);
}

div, row, nav, .col, .col-12, .col-6, .col-4, .col-3 {
    margin:0;
    padding: 0;
}

.container {
    margin: 0;
    padding: 0;
}

.container-fluid {    
    margin: 0;
    padding: 0;
}
/* 
.keyboard {
    background-color:rgb(8, 151, 130);
} */
.switch-bar {
    border-bottom: 3px solid rgb(8, 151, 130);
}

.key-white,
.key-white1,
.key-white2,
.key-white3,
.key-white4,
.key-white5,
.key-white6,
.key-white7,
.key-white8 {
    width: 7vw;
    height: 30vw;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 0 0 10px 10px;
    margin: 5vw 0 5vw;
    padding: 0;
    padding-top: 20vw;
    float: left;
    cursor: pointer;
    z-index: 0;
}

.key-white {
    margin-left: 16vw;
}


.key-black,
.key-black1,
.key-black2,
.key-black3,
.key-black4,
.key-black5 {
    width: 4vw;
    height: 20vw;
    z-index: 1;
  
    margin-top: 5vw;
    margin-left: -58vw;

    background-color: #000;
    border: 1px solid #000;
    border-radius: 0 0 10px 10px;
    float: left;
    cursor: pointer;
    z-index: 10;
}

.key-black1 {
    margin-left: 3vw;
}

.key-black2 {
    margin-left: 10vw; 
}

.key-black3 {
    margin-left: 3vw; 
}

.key-black4 {
    margin-left: 3vw; 
}

.key-black5 {
    margin-left: 10vw; 
}

#c{
    background-color:rgba(248, 161, 161, 0.986); 
}

#c:active{
    background-color:rgba(250, 89, 89, 0.986); 
}

#d{
    background-color: rgba(248, 179, 161, 0.986);
}

#d:active{
    background-color: rgba(253, 113, 78, 0.986);
}

#e{
    background-color: rgba(248, 228, 161, 0.986);
}

#e:active{
    background-color: rgba(251, 211, 76, 0.986);
}

#f{
    background-color: rgba(248, 247, 161, 0.986);
}

#f:active{
    background-color: rgba(248, 245, 77, 0.986);
}

#g{
    background-color: rgba(228, 248, 161, 0.986);
}

#g:active{
    background-color: rgba(207, 246, 80, 0.986);
}

#a{
    background-color: rgba(200, 248, 161, 0.986);
}

#a:active{
    background-color: rgba(155, 252, 77, 0.986);
}

#h{
    background-color: rgba(161, 248, 173, 0.986);
}

#h:active{
    background-color: rgba(79, 253, 102, 0.986);
}

#c1{
    background-color: rgba(161, 248, 241, 0.986);
}

#c1:active{
    background-color: rgba(80, 255, 240, 0.986);
}

#d1{
    background-color: rgba(161, 202, 248, 0.986);
}

#d1:active{
    background-color: rgba(72, 157, 253, 0.986);
}

.key-black:active, 
.key-black1:active, 
.key-black2:active, 
.key-black3:active, 
.key-black4:active, 
.key-black5:active {
    background-color: rgb(61, 56, 56);
}

.how-rules {
    margin: 10px;
    background-color: rgb(175, 245, 220);
    border: 1px solid #860aec;
}

.how_piano, .how_game {
    height: 40px;
    width: 250px;
    border-radius: 10px;
    background-color: rgb(127, 255, 212);
    align-items: center;
    /* display: inline-block; */
    border: 1px solid #4d4d4d;
    margin: 15px auto;
    display: block;  
}

.how-active {
    background-color: rgba(161, 202, 248, 0.986);
    border: 1px solid #860aec;  
}


.links,
.social-links {
    background-color: rgb(8, 151, 130);
    text-align: center;
    margin: 0;
    padding: 0;
}

.links a,
.social-links a {
    text-decoration: none;
    color: #fff;
    width: 100%;
    display: inline-block;
    padding: 5px 5px;
    font-size: 17px;
    font-weight: 400;
    /* text-transform: uppercase; */
}

.social-links a:hover,
.links a:hover {
    color: rgb(201, 201, 201);
}

.social-links a {
    color: #fff;
}



