.start-btn {
    width: 150px;
    height: 35px;
    border: 1px solid #4d4d4d;
    margin: 0 20px;
    cursor: pointer;
}

.level {
    width: 105px;
    height: 35px;
    border-radius: 10px;
    border: 1px solid #4d4d4d;
    margin: 0;
    display: inline-block;
    position: relative;
}


.faded-green {
    color: #fff;
    background-color: green;
    border: 1px solid green;
    opacity: 0.5;
}

.green {
    color: #fff;
    background-color: green;
    border: 1px solid green;
}

.gold {
    color: #fff;
    background-color: goldenrod;
    border: 1px solid goldenrod;
}

.text {
    font-size: 14px;
    color: #4d4d4d;
    display: inline-block;
    margin: 0 10px;
}

.power {
    padding: 0;
    margin: 10px 0;
    text-align: center;
}

.label {
    margin: 5px;
}

#count {
    display:inline;
}

/* how to play bottons */
.how-rules {
    background-color: rgb(175, 245, 220);
    border: 1px solid #860aec;
    margin: 0 2px 5px;
}

.how_piano, .how_game {
    height: 40px;
    width: 250px;
    border-radius: 10px;
    background-color: rgb(127, 255, 212);
    align-items: center;
    /* display: inline-block; */
    border: 1px solid #4d4d4d;
    margin: 15px auto;
    display: block;  
}

.how_game {
    margin: 10px auto;
}

.how-active {
    background-color: rgba(161, 202, 248, 0.986);
    border: 1px solid #860aec;  
}

.play-btn {
    height: 40px;
    width: 250px;
    border-radius: 10px;
    align-items: center;
    margin: 15px auto 30px;
    display: block;
}

.submit-btn {
    width: 220px;
    margin-top: 20px;
}
