.switch-wrapper1 {
    width: 60px;
    height: 30px;
    background-color: #4d4d4d;
    border: 2px solid #4d4d4d;
    border-radius: 30px;
    font-size: 16px;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.switch-wrapper2, .switch-wrapper3 {
    width: 60px;
    height: 30px;
    /* background-color: ; */
    border: 1.4px solid #4d4d4d;
    border-radius: 30px;
    font-size: 16px;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.switch1, .switch2, .switch3  {
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 30px;
    left: -5px;
    display: inline-block;
    position: absolute;
    cursor: pointer;
}

.start-btn {
    width: 80px;
    height: 35px;
    border: 1px solid #4d4d4d;
    margin: 0 40px;
    cursor: pointer;
}

.level {
    width: auto;
    height: 35px;
    border-radius: 10px;
    border: 1px solid #4d4d4d;
    margin: 0 15px 0 0;
    display: inline-block;
    position: relative;
   
}

.faded-green {
    color: #fff;
    background-color: green;
    border: 1px solid green;
    opacity: 0.5;
}

.green {
    color: #fff;
    background-color: green;
    border: 1px solid green;
}

.blue {
    background-color: blue;
    border: 1px solid blue;
}

.red {
    background-color: tomato;
    border: 1px solid tomato; 
}

.gold {
    color: #fff;
    background-color: goldenrod;
    border: 1px solid goldenrod;
}

.text {
    font-size: 14px;
    color: #4d4d4d;
    display: inline-block;
    margin: 0 10px;
}

.power {
    margin: 15px 0;
    display: inline-block; 
}

.label {
    margin: 0 5px;
}
